output_audio/
output_video/

tts_hi/
tts_te/
tts_ta/
tts_bn/
tts_mr/
tts_gu/
tts_kn/
tts_ml/

audio.wav
segments.json
segments_medium.json
translated_segments.json
current_video.txt

*.mp3
*.wav

**pycache**/
