output_audio/
output_video/

tts_hi/
tts_te/
tts_ta/
tts_bn/
tts_mr/
tts_gu/
tts_kn/
tts_ml/

audio.wav
segments.json
segments_medium.json
translated_segments.json
current_video.txt

*.mp3
*.wav

__pycache__/

video1_work/output_videos/
video2_work/output_videos/
video3_work/output_videos/

video1_work/*.mp4
video1_work/*.webm

video2_work/*.mp4
video2_work/*.webm

video3_work/*.mp4
video3_work/*.webm